{% extends 'layout.twig' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div id="main-content" class="main-content col-md-9">
        <div class="main-content-inner {{ rm_background }}">
          
          {% if title_option != "on" %}
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="post-date">{{ post.date }}</div>
          {% endif %}

          {{ function('flexible_content', 'group_component') }}
        </div>

        {% if rm_social != 'on' %}
          <div class="post-actions">
            {% include 'social-detail.twig' with {permalink: post.link, title: post.title, print_icon: 0} only %}
          </div>
        {% endif %}

        {% if function('comments_open') %}
        {% include 'comments.twig' %}
        {{ function('comment_form') }}
        {#% include 'comments-facebook.twig' with {post_url : fn('get_permalink')} only %#}
        {% endif %}
      </div>
  
      {% include 'sidebar-right.twig' %}
    </div>
  </div>
{% endblock %}
